{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bitácora de Reciclaje</title>
  <link rel="stylesheet" href="{% static 'css/administrador.css' %}" />
</head>
<body class="dashboard-body">
   <header class="dashboard-header">
    <h1>Bienvenido, Admin</h1>
    <nav>
      <a href="{% url 'admin_panel' %}">Inicio</a>
      <a href="{% url 'admin_usuarios' %}">Ver Usuarios</a>
      <a href="{% url 'admin_registros' %}">Ver Registros</a>
      <a href="{% url 'admin_catalogo' %}">Ver Catálogos</a>
      <a href="{% url 'admin_donacion' %}">Ver Donaciones</a>
      <a href="{% url 'admin_historial' %}">Historial de Acceso</a>
      <select name="lista-bitacora-menu" id="lista-bitacora-menu" onchange="redirigirBitacora(this.value)">
        <option value="#">Bitácoras ↓</option>
        <option value="{% url 'bitacora_reciclaje' %}">Bitácora Reciclaje</option>
        <option value="{% url 'bitacora_catalogo' %}">Bitácora de Catálogo</option>
        <option value="{% url 'bitacora_canje' %}">Bitácora de Canje</option>
      </select>
      <a href="{% url 'logout' %}">Cerrar Sesión</a>
    </nav>
  </header>

  <main class="tabla-usuarios">
    <h2>Bitácora de Reciclaje</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="error-message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>IP</th>
          <th>ID Registro</th>
          <th>Acción</th>
          <th>Fecha</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        {% for entrada in bitacora %}
          <tr>
            <td>{{ entrada.0 }}</td>
            <td>{{ entrada.1 }}</td>
            <td>{{ entrada.2 }}</td>
            <td>{{ entrada.3 }}</td>
            <td>{{ entrada.4 }}</td>
            <td>{{ entrada.5 }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6">No hay entradas en la bitácora de reciclaje.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>

  <script>
    function redirigirBitacora(url) {
      if (url) {
        window.location.href = url;
      }
    }
  </script>
</body>
</html>