{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registrar Reciclaje</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  {% if puntos %}
    {{ puntos|json_script:"initial-puntos-data" }}
  {% endif %}
  <script src="{% static 'js/mapa.js' %}"></script>
</head>

<body class="form-body-map">
  <!-- Mensajes fijos debajo del nav -->
  {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="dashboard-header">
    <h1>Puntos de Reciclaje Disponibles</h1>
    <nav>
    <div class="container">
      <nav>
          <a href="{% url 'dashboard' %}">Dashboard</a>
          <a href="{% url 'registro_reciclaje' %}">Registrar Reciclaje</a>
          <a href="{% url 'catalogo' %}">Catálogo</a>
          <a href="{% url 'donacion' %}">Donacion</a>
          <a href="{% url 'historial' %}">Historial</a>
          <a href="{% url 'logout' %}">Cerrar Sesión</a>
      </nav>
    </div>
    </nav>
  </div>
  <div class="container">
    <div id="map" class="map-container"></div>
  </div>

  <!-- Modal para registrar reciclaje -->
  <div id="reciclajeModal" class="modal">
    <div class="modal-content">
      <span class="close-button">×</span>
      <h2>Registrar Material Reciclado</h2>
      <form action="{% url 'registro_reciclaje' %}" method="POST" class="reciclaje-form">
        {% csrf_token %}
        <input type="hidden" id="id_punto" name="punto" value="">
        <div class="form-group">
          <label for="tipo">Tipo de Material</label>
          <select id="tipo" name="tipo" required>
            <option value="">Seleccione</option>
          </select>
        </div>

        <div class="form-group">
          <label for="subtipo">Subtipo de Material</label>
          <input type="text" id="subtipo" name="subtipo" placeholder="Ej. Botellas de plástico" required>
        </div>

        <div class="form-group">
          <label for="cantidad">Cantidad (kg)</label>
          <input type="number" step="0.1" min="0.1" id="cantidad" name="cantidad" placeholder="Ej. 2.5" required>
        </div>

        <button type="submit" class="submit-btn">Registrar</button>
      </form>
    </div>
  </div>
</body>
</html>